<style>
    .header-div{
        width: 95%;
        border: hidden;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 30px;
    }
</style>
<div class="header-div glassy">
    <span class="contains-head bar"></span>
    <span class="contains-options bar"></span>
</div>