<style>
    nav{
        height: 100%;
        border: hidden;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        position: fixed;
        width: 20vw;
        top: 0;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .nav-list{
        padding: 10px;
        border: hidden;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 90%;
    }
    .nav-list:hover{
        background-color: rgb(209, 209, 209);
    }
    .nav-list>p{
        text-decoration: none;
        color: rgb(46, 46, 46);
        font-weight: 500;
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .logo-img{
        margin: 10px;
    }
</style>
<nav class="glassy">
    <div>
        <span class="bar">
            <img src="../static/icons/logo.png" class="logo-img" alt="" width="40" height="50">
            <h3 class="logo-name">GDplyr</h3>
        </span>
    </div>
    <ul>
        <a href="../dashboard">
            <li class="nav-list bar">
                <img src="../static/icons/icons8-dashboard-50.png" alt="" width="20" height="20">
                <p>Dashboard</p>
            </li>
        </a>
        <a href="">
            <li class="nav-list bar">
                <img src="../static/icons/icons8-dashboard-50.png" alt="" width="20" height="20">
                <p>Links</p>
            </li>
        </a>
        <a href="">
            <li class="nav-list bar">
                <img src="../static/icons/icons8-dashboard-50.png" alt="" width="20" height="20">
                <p>Servers</p>
            </li>
        </a>
        <a href="">
            <li class="nav-list bar">
                <img src="../static/icons/icons8-dashboard-50.png" alt="" width="20" height="20">
                <p>Bulk Import</p>
            </li>
        </a>
        <a href="">
            <li class="nav-list bar">
                <img src="../static/icons/icons8-dashboard-50.png" alt="" width="20" height="20">
                <p>HLS</p>
            </li>
        </a>
        <a href="">
            <li class="nav-list bar">
                <img src="../static/icons/icons8-dashboard-50.png" alt="" width="20" height="20">
                <p>Advertisement</p>
            </li>
        </a>
        <a href="../settings">
            <li class="nav-list bar">
                <img src="../static/icons/icons8-dashboard-50.png" alt="" width="20" height="20">
                <p>Settings</p>
            </li>
        </a>
    </ul>
</nav>