<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/p2p-media-loader-core@latest/build/p2p-media-loader-core.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p2p-media-loader-hlsjs@latest/build/p2p-media-loader-hlsjs.min.js"></script>
    <script src="<%=%>"></script><!-- Write code to get JWPlayer Licence here -->
    <title></title>
    <script>
        let isHls = true
        let videoPath = 'path to m3u8 file or mp4 file' //depends on isHls

        window.addEventListener("DOMContentLoaded",()=>{
            jwplayer("video").setup({
                file: videoPath,
                width: 640,
                height: 360,
                controls:true
            })
        })
    </script>
</head>
<body>
    <div id="video"></div>
</body>
</html>